.wholeadmin{
  padding-left: 200px;
  padding-right: 700px;
  padding-bottom: 1000px;
  padding-top:60px;
  font-size: 30px;
  background-color: whitesmoke;
}
.adminmenu{
  background: rgb(241, 63, 63);
  font-size: 30px;
  border-radius: 20px;
  margin-left: 350px;
  margin-bottom: 1200px;
  padding: 10px 5px 5px 10px;
  position: absolute;
}
.menuadmin{
  width: 200px;
  margin-top: 100px;
  position: absolute;
}
.admincolumnname{
  display: flex;
  font-size: 35px;
  padding-bottom: 20px;
}
.deletemenu{
  background-color: lightblue;
  margin-left: 60px;
  font-size: 19px;
  border-radius: 20px;
}

.admincolumn1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 45px;
}
.admincolumn2{
  padding-left: 70px;
  margin-left: 110px;
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.adminitemname{
  padding: 10px;
  padding-bottom: 15px;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adminitemprice{
  padding: 10px;
  padding-left: 90px;
  flex-direction: column;
  display: flex;
  font-size: 35px;
}
.BTN3{
	background-color: #6dc77a;
	border-radius: 28px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 26px;
	margin-left: 1000px;
	font-size: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.i{
  font-size: 20px;
}
.hovbutton:hover{
  font-size: 19px;
  background-color: #bee081;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
}
.hovbutton{
  box-shadow: 2px 2px 3px black;
  font-size: 20px;
  background-color: #bee081;
  border-radius: 10px;
}
