.cartsymbol{
  margin-left: 478px;
  background-color: #6dc77a;
  width: 60px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.cartsymbol:hover{
  margin-left: 478px;
  width: 60px;
  border-radius: 25px;
}
.wholemenu{
  padding-top: 25px;
  padding-left: 500px;
  padding-right: 500px;
  padding-bottom: 300px;
  font-size: 30px;
  margin-top: -40px;
  background-color: whitesmoke;
  background-size: 2000px 1000px;
  color: whitesmoke;
}
.darkplate{
  background-color:black;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.columnname{
  display: flex;
  font-size: 35px;
  padding-bottom: 20px;
  color: blanchedalmond;
}
.addmenu{
  background-color: lightblue;
  margin-left: 60px;
  font-size: 23px;
  border-radius: 20px;
}
.column1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 45px;
}
.column2{
  padding-left: 70px;
  margin-left: 120px;
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.itemname{
  padding: 10px;
  padding-bottom: 20px;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.itemprice{
  padding: 10px;
  padding-left: 90px;
  flex-direction: column;
  display: flex;
  font-size: 35px;

}

.orderlink{
   margin-left: 600px;
   position: absolute;
   background-color: lightskyblue;
   border-radius: 10px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.BTN7{
  background-color: #6dc77a;
  border-radius: 20px;
  position: absolute;
  text-decoration: none;
	font-size: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
