.signup{
  font-size: 30px;
  padding-bottom: 200px;
  background-color: whitesmoke;
  background-size: 1100px 1500px -1000px;
  margin-top: -50px;
}
.dummysignup{
  padding-left: 200px;
  margin-left: 300px;
  margin-right: 400px;
  background: rgb(241, 63, 63);
  border-radius: 15px;
}
.signuptitle{
  font-family: monospace;
  color: black;
}
.label{
  font-family: fantasy;
  font-size: 30px;
  color: rgb(10, 10, 10);
}
.inputbox{
  padding-top: 10px;
  border-radius: 28px;
  -moz-border-radius: 28px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
}
.signupbutton{
  border-radius: 20px;
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 20px;
  background: linear-gradient(to left, #2193b0, #6dd5ed);
}
