<main class='wholehome'>
  <h2>{{#link-to 'admin_menu'}}<button class='BTN2' type="button">
      Admin</button>{{/link-to}}</h2>
  <div class='dummycart'>
    <h1 class="title">CAFE</h1>
    <h2 class="please">If you are a new user please {{#link-to 'signup' }}<button class='BTN' type="button">
        Signup</button>
      {{/link-to}} here</h2>
    <h2 class="d">{{#link-to 'signin' }}<button class='BTN1' type="button">
        Login</button>
      {{/link-to}}
    </h2>
  </div>
</main>
