<main class="wholemenu">
  <h2><button class="BTN7" type="submit" {{action 'signOut' }}> <img src="/assests/images/power-standby.png"> </button>
  </h2>
  <h4>{{#link-to 'carts' }}
    <img class='cartsymbol' src="/assests/images/cart (1).png">
    {{/link-to}}
  </h4>
  <div class='darkplate'>
    <tr class="columnname">
      <th class="column1">Menu </th>
      <th class="column2">Price </th>
    </tr>
    {{#each model.menu_items as |menu_item|}}
    <tr class="list">
      <td class='itemname'>{{menu_item.name}}</td>
      <td class='itemprice'>{{menu_item.price}}</td>
      <td><button class="addmenu" type="submit" {{action 'createCartItem' menu_item.id}}>add</button></td>
    </tr>
    {{/each}}
  </div>
  <h4 class='orderlink'>{{#link-to 'orders' }}
    View orders
    {{/link-to}}
  </h4>
</main>
